#contact {
  min-width: calc(100vh - 4rem);
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MsgAnimation {
  width: 30rem;
  height: 30rem;
}
.Animation {
  margin-top: -2rem;
}

.contactTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.me {
  color: yellow;
}
.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 35rem;
}
.name,
.msg,
.email {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
}

.submitBtn {
  background: white;
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 0.75rem 3.5rem;
}

.submitBtn:hover {
  background-color: yellow;
  cursor: pointer;
}
@media (max-width: 342px) {
  #contact {
    margin-bottom: 3rem;
  }
}
@media (max-width: 376px) {
  #contact {
    height: 115vh;
  }
  .MsgAnimation {
    position: absolute;
    margin-top: 10rem;
  }
  .from {
    align-items: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  .name,
  .msg,
  .email {
    opacity: 0.8;
  }
}
@media (max-width: 768px) {
  .MsgAnimation {
    position: absolute;
    margin-top: 7rem;
  }
  .from {
    align-items: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  .name,
  .msg,
  .email {
    opacity: 0.8;
  }
}
