#works {
  margin: 0 auto;
  min-width: calc(100vh - 4rem);
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.worksTitle {
  font-size: 3rem;
}
.my {
  color: yellow;
}
.worksDesc {
  padding-top: 1rem;
  font-weight: 300;
  font-size: 1rem;
  max-width: 60vw;
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.worksImgs {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 65rem;
}
.worksImg {
  object-fit: cover;
  margin: 1.5rem;
  margin-bottom: 0rem;
  width: 18rem;
  border-radius: 14px;
  height: auto;
}
.workCard {
  background-color: rgb(40, 40, 40);
  max-width: 21rem;
  height: auto;
  margin: 0.3rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
}
.workCard:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 10px rgba(255, 255, 0);
  cursor: pointer;
}
.workCard:hover ~ .worksDesc {
  display: none;
}
.features {
  margin-top: 1rem;
}

.worksDesc.hidden {
  opacity: 0;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding-top: 1rem;
  height: 360px;
}

.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 320px;
  height: 280px;
  /* background: rgb(40, 40, 40); */
  color: rgb(255, 255, 255);
  border-radius: 12px;
  transition: transform 0.5s;
  /* box-shadow: 0 15px 45px rgba(255, 255, 255, 0.5); */
}

.container .card:hover {
  height: 340px;
  cursor: pointer;
  box-shadow: 0 15px 45px rgba(255, 255, 255, 0.5);
  background: rgb(30, 30, 30);
}

.container .card .imgBx {
  position: absolute;
  top: 20px;
  width: 250px;
  height: 180px;
  /* background: #333; */
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
  /* border: 1px solid wheat; */
}
.Links {
  display: flex;
  justify-content: space-between;
}
.LinkBtn {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 0.4rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.LinkBtn:hover {
  cursor: pointer;
}
.container .card:hover .imgBx {
  top: -80px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(255, 255, 0, 0.5);
}

.container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content {
  position: absolute;
  top: 220px;
  width: 100%;
  padding: 0 30px;
  overflow: hidden;
  height: 30px;
  text-align: center;
  transition: 0.5s;
}

.container .card:hover .content {
  top: 90px;
  height: 250px;
}

.container .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 1px solid white;
}

.container .card .content p {
  color: white;
}

@media (max-width: 340px) {
  #works {
    margin-bottom: 1rem;
  }
  .worksTitle {
    font-size: 2rem;
    margin-top: 0rem;
  }
  .worksDesc {
    font-weight: 200;
    max-width: none;
  }
  .worksImg {
    margin: 0.5rem;
  }
}

@media (max-width: 376px) {
  #works {
    margin-top: 2rem;
    height: 110vh;
  }
  .worksTitle {
    font-size: 2rem;
    margin-top: 0rem;
  }
  .worksDesc {
    font-weight: 200;
    max-width: none;
  }
  .container {
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
    gap: 20px;
    padding: 10px;
    height: 440px;
  }

  .container .card {
    flex: 0 0 auto;
    width: 280px;
    margin: 0;
  }
  .features {
    font-size: 0.896rem;
  }
}
@media (max-width: 425px) {
  .worksTitle {
    font-size: 2.2rem;
    margin-top: 0rem;
  }
  .worksDesc {
    font-weight: 200;
    max-width: none;
  }
}
